<div class="row">
    <div class="col-md-12">
        <section widget class="widget">
            <header class="p-t-1 p-l-1">
                <a class="btn btn-default" (click)="goBack()">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
                <span class="h3 p-l-2" style="line-height:1.5em; vertical-align:middle;"><strong>Detalles del usuario</strong></span>
                <a class="btn btn-primary pull-right text-white" (click)="deleteUser(user.id)">
                    Eliminar
                </a>
            </header>
            <div class="widget-body p-a-2">
                <div class="form-resource">
                    <user-form [user]="user" class="row" ></user-form>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-5"></div>
                    <button  (click)="save()" class="btn btn-primary btn-sm text-white box-centered" [disabled]="processing">
                        Guardar
                        <span *ngIf="processing" style="margin-left:10px"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
                    </button>               
                </div>
            </div>

        </section>
    </div>
</div>