    <p-dialog title="Seleccione un registro" [(visible)]="current_lookup_enable" [responsive]="true" (resizable)="false" (onBeforeHide)="turnOffLookUp()">
        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Filtro global" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
        </div>
        <p-dataTable [value]="current_lookup_data" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt [responsive]="true"
            [stacked]="stacked" selectionMode="single" [(selection)]="current_lookup_selected" (onRowSelect)="current_lookup_callback($event)">
                <p-column *ngFor="let field of current_lookup_fields" filter="true" filterPlaceholder="Buscar" filterMatchMode="contains" field="{{field.name}}" header="{{field.label}}" [sortable]="true"></p-column>
            </p-dataTable>
    </p-dialog>

    <!-- user form --> 
    <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Información del usuario</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Nombre:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Nombre" type="text" class="form-control" [(ngModel)]="user.name" /></div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Apellido:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Apellido" type="text" class="form-control" [(ngModel)]="user.last_name" /></div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Correo:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Correo" type="text" class="form-control" [(ngModel)]="user.email" /></div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Nivel:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="user.level" [options]="levels"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Contacto:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="user.contact_name">
                <span class="input-group-btn">¿
                    <button class="btn btn-default" (click)="contactOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" (click)="contactLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Usuario padre:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="user.parent_user_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="userOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" (click)="userLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Contraseña:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Contraseña" type="password" class="form-control" [(ngModel)]="user.password" /></div>
        </div>
    </div>
    <div class="panel panel-default col-xs-12" *ngIf="user.id">
        <div class="panel-heading">Información del sistema</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Fecha Creación:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Fecha Creación" type="text" class="form-control" disabled="disabled" [(ngModel)]="user.created_at" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Fecha Actualización:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Fecha Actualización" type="text" class="form-control" disabled="disabled" [(ngModel)]="user.updated_at" /></div>
        </div>
    </div>
    <!-- end user form -->
