<div class="container">
  <main id="content" class="error-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <div class="error-container">
          <h1 class="error-code">404</h1>
          <p class="error-info">
            Opps, recurso no encontrado
          </p>
          <p class="error-help mb">
              <a routerLink="/app/dashboard" class="btn btn-inverse">
                Volver <i class="fa fa-arrow-right text-warning ml-xs"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </main>

  <footer class="page-footer">
    2017 &copy; NegociosElectronicos.biz
  </footer>
</div>
