
<p-dialog title="Seleccione un registro" [(visible)]="current_lookup_enable" [responsive]="true" (resizable)="false" (onBeforeHide)="turnOffLookUp()">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Filtro global" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <p-dataTable [value]="current_lookup_data" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt [responsive]="true"
        [stacked]="stacked" selectionMode="single" [(selection)]="current_lookup_selected" (onRowSelect)="current_lookup_callback($event)">
            <p-column *ngFor="let field of current_lookup_fields" filter="true" filterMatchMode="contains" filterPlaceholder="Buscar" field="{{field.name}}" header="{{field.label}}" [sortable]="true"></p-column>
        </p-dataTable>
</p-dialog>


<!-- visit form --> 
    <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Información de la actividad</div>
        <div class="panel-body row">
                <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Tipo de Actividad:</strong></h5></div>
                <div class="col-xs-12 col-md-3"> <select name="type" id="type" class="form-control" [(ngModel)]="visit.type">
                    <option *ngFor='let activity of activities'>{{activity}}</option>
                                        
                </select> 
            </div>
            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Asunto:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Asunto" type="text" class="form-control" [(ngModel)]="visit.subject" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Ubicación:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Ubicación" type="text" class="form-control" [(ngModel)]="visit.location" /></div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Desde:</strong></h5></div>
            <p-calendar class="col-xs-12 col-md-3" [(ngModel)]="visit.from" dateFormat="yy-mm-dd" showTime="true" hourFormat="24"></p-calendar>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Hasta:</strong></h5></div>
            <p-calendar class="col-xs-12 col-md-3" [(ngModel)]="visit.to" [minDate]="visit.from" dateFormat="yy-mm-dd" showTime="true" hourFormat="24"></p-calendar>


            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Agente Asociado:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="visit.agent_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="agnetOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="agentLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Cliente:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="visit.client_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="clientOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" (click)="clientLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>
            
            <div class="col-xs-12 col-md-3"><h5><strong>Producto:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="visit.product_name" style="max-height: 35px!important;">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="productOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" (click)="productLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>
            
            <div class="col-xs-12 col-md-3"><h5><strong>Comentarios:</strong></h5></div>
            <div class="col-xs-12 col-md-9"><textarea class="form-control" [(ngModel)]="visit.comments"></textarea></div>
        </div>
    </div>


    <div class="panel panel-default col-xs-12" *ngIf="visit.id">
        <div class="panel-heading">Información del sistema</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Fecha Creación:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Fecha Creación" type="text" class="form-control" disabled="disabled" [(ngModel)]="visit.created_at" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Fecha Actualización:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Fecha Actualización" type="text" class="form-control" disabled="disabled" [(ngModel)]="visit.updated_at" /></div>
        </div>
    </div>

    <!-- end visit form -->