<section widget class="widget">
    <h3 class="pull-left">Listado de Actividades</h3>
    <a class="btn btn-primary pull-right" (click)="disableLoading()" routerLink="create">
        Crear Actividad
    </a>
    <br><br>
    <div class="widget-body">
        <ul class="list-group record-counter" style="display: table;position:absolute;z-index:10;">
            <li class="list-group-item"><b>Total de Actividades:</b>&nbsp; {{visits.length}}</li>
        </ul>
        <br><br>
        <kendo-grid 
            [data]="gridData"
            [pageSize]="state.take"
            [skip]="state.skip"
            [scrollable]="scroll"
            [filter]="state.filter"
            [sortable]="true"
            [pageable]="true"
            [filterable]="true"
            [height]="550"
            (dataStateChange)="dataStateChange($event)"
        >
            <kendo-grid-column width="80">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <input type="button" style="padding: 5px!important;cursor:pointer;" class="btn btn-sm btn-default" value="Detalles" (click)="onSelect(dataItem)"/>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="type" title="Actividad"  width="200"></kendo-grid-column>
            <kendo-grid-column field="subject" title="Asunto"  width="200"></kendo-grid-column>
            <kendo-grid-column field="location" title="Ubicación"  width="200"></kendo-grid-column>
            <kendo-grid-column field="agent_name" title="Agente Asociado"  width="200"></kendo-grid-column>
            <kendo-grid-column field="client_name" title="Cliente"  width="200"></kendo-grid-column>
            <kendo-grid-column field="product_name" title="Producto"  width="200"></kendo-grid-column>            
            <kendo-grid-column field="from" title="Desde"  width="200" filter="date" format="{0:yyyy-MM-dd hh:mm:ss}" ></kendo-grid-column>
            <kendo-grid-column field="to" title="Hasta" width="200" filter="date"  format="{0:yyyy-MM-dd hh:mm:ss}" ></kendo-grid-column>
            <kendo-grid-messages
                noRecords="No hay data disponible"
                pagerItems="registros"
                filterStartsWithOperator="Empieza con"
                filterEndsWithOperator="Termina con"
                filterContainsOperator="Contiene"
                filterBeforeOrEqualOperator="Es antes o igual a"
                filterBeforeOperator="Es antes de"
                filterAfterOrEqualOperator="Es después o igual a"
                filterAfterOperator="Es después a"
                filterNotEqOperator="No es igual a"
                filterNotContainsOperator="No contiene"
                filterLteOperator="Menor o igual a"
                filterLtOperator="Menor a"
                filterIsTrue="Es verdadero"
                filterIsFalse="Es falso"
                filterIsNullOperator="Es nulo"
                filterIsNotNullOperator="No es nulo"
                filterIsNotEmptyOperator="No es vacio"
                filterIsEmptyOperator="Es vacio"
                filterGteOperator="Es mayor o igual a"
                filterGtOperator="Es mayor a"
                filterEqOperator="Es igual a"
            >
            </kendo-grid-messages>
        </kendo-grid>
        <br>
    </div>
</section>