<section widget class="widget">
    <h3 class="pull-left">Listado de contactos</h3>
    <a class="btn btn-primary pull-right" (click)="disableLoading()" routerLink="create">
        Crear contacto
    </a>
    <br><br>

    <div class="widget-body">
        <ul class="list-group record-counter" style="display: table;position:absolute;z-index:10;">
            <li class="list-group-item"><b>Total de contactos:</b>&nbsp; {{contacts.length}}</li>
        </ul>
        <br><br>
        <kendo-grid 
            [data]="gridData"
            [pageSize]="state.take"
            [skip]="state.skip"
            [scrollable]="true"
            [filter]="state.filter"
            [sortable]="true"
            [pageable]="true"
            [filterable]="true"
            (dataStateChange)="dataStateChange($event)"
            [height]="700"
        >
            <kendo-grid-column width="80">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <input type="button" style="padding: 5px!important;cursor:pointer;" class="btn btn-sm btn-default" value="Detalles" (click)="onSelect(dataItem)"/>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="name" title="Nombre" width="160"></kendo-grid-column>
            <kendo-grid-column field="last_name" title="Apellido" width="160"></kendo-grid-column>
            <kendo-grid-column field="phone" title="Teléfono" width="180"></kendo-grid-column>
            <kendo-grid-column field="email" title="Correo" width="200"></kendo-grid-column>
            <kendo-grid-column field="commercial_office_name" title="Oficina Comerncial" width="180"></kendo-grid-column>
            <kendo-grid-column field="dni" title="Cédula" width="150"></kendo-grid-column>
            <kendo-grid-column field="type" title="Tipo" width="150"></kendo-grid-column>
            <kendo-grid-column field="contacting_date" title="Fecha de contacto" width="200" filter="date" format="{0:yyyy-MM-dd}"></kendo-grid-column>

            <kendo-grid-messages
                noRecords="No hay data disponible"
                pagerItems="registros"
                filterStartsWithOperator="Empieza con"
                filterEndsWithOperator="Termina con"
                filterContainsOperator="Contiene"
                filterBeforeOrEqualOperator="Es antes o igual a"
                filterBeforeOperator="Es antes de"
                filterAfterOrEqualOperator="Es después o igual a"
                filterAfterOperator="Es después a"
                filterNotEqOperator="No es igual a"
                filterNotContainsOperator="No contiene"
                filterLteOperator="Menor o igual a"
                filterLtOperator="Menor a"
                filterIsTrue="Es verdadero"
                filterIsFalse="Es falso"
                filterIsNullOperator="Es nulo"
                filterIsNotNullOperator="No es nulo"
                filterIsNotEmptyOperator="No es vacio"
                filterIsEmptyOperator="Es vacio"
                filterGteOperator="Es mayor o igual a"
                filterGtOperator="Es mayor a"
                filterEqOperator="Es igual a"
            >
            </kendo-grid-messages>
        </kendo-grid>
    </div>
</section>