
<p-dialog title="Seleccione un registro" [(visible)]="current_lookup_enable" [responsive]="true" (resizable)="false" (onBeforeHide)="turnOffLookUp()">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Filtro global" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <p-dataTable [value]="current_lookup_data" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt [responsive]="true"
        [stacked]="stacked" selectionMode="single" [(selection)]="current_lookup_selected" (onRowSelect)="current_lookup_callback($event)">
            <p-column *ngFor="let field of current_lookup_fields" filter="true" filterMatchMode="contains" filterPlaceholder="Buscar" field="{{field.name}}" header="{{field.label}}" [sortable]="true"></p-column>
    </p-dataTable>
</p-dialog>

<!-- contact form --> 
   <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Información sobre Contacto</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Nombre:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Nombre" type="text" class="form-control" [(ngModel)]="contact.name" /></div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Apellido:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Apellido" type="text" class="form-control" [(ngModel)]="contact.last_name" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Teléfono:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Teléfono" type="text" class="form-control" [(ngModel)]="contact.phone" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Teléfono 2:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Teléfono 2" type="text" class="form-control" [(ngModel)]="contact.secondary_phone" /></div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Correo:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Correo" type="text" class="form-control" [(ngModel)]="contact.email" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Correo 2:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Correo 2" type="text" class="form-control" [(ngModel)]="contact.secondary_email" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Tipo:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="contact.type" [options]="contact_types"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Cédula:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Cédula" type="number" class="form-control" [(ngModel)]="contact.dni" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Fuente Lead:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="contact.source" [options]="contact_sources"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5><strong>Fuente Interés:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="contact.interest_source" [options]="interest_sources"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5><strong>Agente Asociado:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="contact.agent_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="agnetOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="agentLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span> 
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Reasignado a:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="contact.assigned_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="assignedOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="assignedLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Oficina commercial:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="contact.commercial_office_id" [options]="commercial_offices"></p-dropdown>


            <div class="col-xs-12 col-md-3"><h5><strong>Fecha Contacto:</strong></h5></div>
            <p-calendar class="col-xs-12 col-md-3" [(ngModel)]="contact.contacting_date" dataType="string" dateFormat="yy-mm-dd" disable="disabled"></p-calendar>
        </div>
   </div>

   <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Intereses - Compras Realizadas</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Interesado en M.I.:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="contact.interest_im" [options]="yes_no_options"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5><strong>Interesado en:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="contact.interested_product_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="interestedOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" (click)="interestedProductLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>
        </div>
   </div>

    <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Información de la dirección</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>País:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="País" type="text" class="form-control" [(ngModel)]="contact.country" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Estado:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Estado" type="text" class="form-control" [(ngModel)]="contact.state" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Ciudad:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Ciudad" type="text" class="form-control" [(ngModel)]="contact.city" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Dirección:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Dirección" type="text" class="form-control" [(ngModel)]="contact.address" /></div>
        </div>
    </div>

    <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Datos de representación</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Empresa:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Empresa" type="text" class="form-control" [(ngModel)]="contact.company_name" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Razón Social:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Razón Social" type="text" class="form-control" [(ngModel)]="contact.company_business_name" /></div>
        </div>
    </div>


    <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Cónyuge</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Nombre Conyugue</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Nombre Conyugue" type="text" class="form-control" [(ngModel)]="contact.spouse_name" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Cédula Conyugue:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Cédula Conyugue" type="text" class="form-control" [(ngModel)]="contact.spouse_dni" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Teléfono Conyugue:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Teléfono Conyugue" type="number" class="form-control" [(ngModel)]="contact.spouse_phone" /></div>
        
        </div>
    </div>

    <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Observaciones generales</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Descripción:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><textarea class="form-control" [(ngModel)]="contact.description" style="height: 100px!important;"></textarea></div>
        </div>
    </div>

    <div class="panel panel-default col-xs-12" *ngIf="contact.id">
        <div class="panel-heading">Información del sistema</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Fecha Creación:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Fecha Creación" type="text" class="form-control" disabled="disabled" [(ngModel)]="contact.created_at" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Fecha Actualización:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Fecha Actualización" type="text" class="form-control" disabled="disabled" [(ngModel)]="contact.updated_at" /></div>
        </div>
    </div>
    
    <!-- end contact form -->