<br>
<div id="availabilityChecker">
<p-dialog header="Ver disponibilidad del contacto" [draggable]="false" [(visible)]="availability_checker" responsive="true" onAfterHide="availabilityCheckToggle()">
    <input type="number" placeholder="Cédula de indentidad" [(ngModel)]="contact.dni" class="form-control col-xs-12">
    <br>
    <input type="email" placeholder="Correo electrónico" [(ngModel)]="contact.email" class="form-control col-xs-12">
    <br>
    <button class="btn btn-primary" (click)="checkAvailability()" [disabled]="processing" > 
        Revisar 
        <span *ngIf="processing" style="margin-left:10px"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
    </button>
    <p-messages *ngIf="firstSearch" [value]="availabilityResponse" [closable]="false" ></p-messages>
</p-dialog>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <section widget class="widget">
            <header class="p-t-1 p-l-1">
                <a class="btn btn-default" (click)="goBack()">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
                <a class="btn btn-default pull-right" (click)="availabilityCheckToggle()">
                    Chequear disponibilidad rápidamente
                </a>
                <span class="h3 p-l-2" style="line-height:1.5em; vertical-align:middle;"><strong>Crear contacto</strong></span>

            </header>
            <div class="widget-body p-a-2">
                <div class="form-resource">
                    <contact-form class="row" [contact]="contact" [loaded]="contactEventEmitter" ></contact-form>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-5"></div>
                        <button  (click)="create()" class="btn btn-primary btn-sm text-white box-centered" [disabled]="processing">
                        Crear
                        <span *ngIf="processing" style="margin-left:10px"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
                    </button>              
                </div>
            </div>

        </section>
    </div>
</div>