
<p-dialog title="Seleccione un registro" [(visible)]="current_lookup_enable" [responsive]="true" (resizable)="false" (onBeforeHide)="turnOffLookUp()">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Filtro global" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <p-dataTable [value]="current_lookup_data" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt [responsive]="true"
        [stacked]="stacked" selectionMode="single" [(selection)]="current_lookup_selected" (onRowSelect)="current_lookup_callback($event)">
            <p-column *ngFor="let field of current_lookup_fields" filter="true" filterMatchMode="contains" filterPlaceholder="Buscar" field="{{field.name}}" header="{{field.label}}" [sortable]="true"></p-column>
        </p-dataTable>
</p-dialog>


<!-- PR form --> 
    <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Información general del registro</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Asunto:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Asunto" type="text" class="form-control" [(ngModel)]="PR.subject"/></div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Oficina comercial:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="PR.commercial_office_id" [options]="commercial_offices"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Tipo de operación:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="PR.type" [options]="types"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Estado:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="PR.status" [options]="statuses"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Producto:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="PR.product_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="productOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" (click)="productLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Precio de Venta:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Precio de Venta" type="number" class="form-control" [(ngModel)]="PR.product_price"/></div>
        
            <div class="col-xs-12 col-md-3"><h5><strong>Descripción:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><textarea class="form-control" [(ngModel)]="PR.description"></textarea></div>
        </div>
    </div>

    <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Datos del cliente</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Nombre de Contacto:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="PR.contact_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="clientOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" (click)="clientLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Nombre de Contacto Vendedor:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="PR.seller_contact_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="sellerClientOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" (click)="sellerClientLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>
        </div>
    </div>

    <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Estados de pago</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Monto de reserva:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Monto de reserva" type="number" class="form-control" [(ngModel)]="PR.reservation_amount"/></div>
            <div class="col-xs-12 col-md-3"><h5><strong>Fecha de monto reserva:</strong></h5></div>
            <p-calendar class="col-xs-12 col-md-3" [(ngModel)]="PR.reservation_date" dataType="string" dateFormat="yy-mm-dd" disable="disabled"></p-calendar>


            <div class="col-xs-12 col-md-3"><h5><strong>Pago de gastos legales (promesa):</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Pago de gastos legales (promesa)" type="number" class="form-control" [(ngModel)]="PR.legal_expenses_promise_amount"/></div>
            <div class="col-xs-12 col-md-3"><h5><strong>Fecha gastos legales (promesa):</strong></h5></div>
            <p-calendar class="col-xs-12 col-md-3" [(ngModel)]="PR.legal_expenses_promise_date" dataType="string" dateFormat="yy-mm-dd" disable="disabled"></p-calendar>

            <div class="col-xs-12 col-md-3"><h5><strong>Monto promesa bilateral:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Monto promesa bilateral" type="number" class="form-control" [(ngModel)]="PR.promise_amount"/></div>
            <div class="col-xs-12 col-md-3"><h5><strong>Fecha promesa bilateral:</strong></h5></div>
            <p-calendar class="col-xs-12 col-md-3" [(ngModel)]="PR.promise_date" dataType="string" dateFormat="yy-mm-dd" disable="disabled"></p-calendar>

            <div class="col-xs-12 col-md-3"><h5><strong>Monto abono parcial a comisión:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Monto abono parcial a comisión" type="number" class="form-control" [(ngModel)]="PR.commission_payment_amount"/></div>
            <div class="col-xs-12 col-md-3"><h5><strong>Fecha abono parcial a comisión:</strong></h5></div>
            <p-calendar class="col-xs-12 col-md-3" [(ngModel)]="PR.commission_payment_date" dataType="string" dateFormat="yy-mm-dd" disable="disabled"></p-calendar>

            <div class="col-xs-12 col-md-3"><h5><strong>Pago de gastos legales (protocolización):</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Pago de gastos legales (protocolización)" type="number" class="form-control" [(ngModel)]="PR.legal_expenses_proto_amount"/></div>
            <div class="col-xs-12 col-md-3"><h5><strong>Fecha pago de gastos legales (protocolización):</strong></h5></div>
            <p-calendar class="col-xs-12 col-md-3" [(ngModel)]="PR.legal_expenses_proto_date" dataType="string" dateFormat="yy-mm-dd" disable="disabled"></p-calendar>

            <div class="col-xs-12 col-md-3"><h5><strong>Protocolización:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Protocolización" type="number" class="form-control" [(ngModel)]="PR.proto_amount"/></div>
            <div class="col-xs-12 col-md-3"><h5><strong>Fecha protocolización:</strong></h5></div>
            <p-calendar class="col-xs-12 col-md-3" [(ngModel)]="PR.proto_date" dataType="string" dateFormat="yy-mm-dd" disable="disabled"></p-calendar>
        </div>
    </div>

    <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Receptores de comisiones</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Punta captadora:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="PR.captor_person_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="captorPersonOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" (click)="captorPersonLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Enlace:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="PR.link_person_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="linkOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" (click)="linkLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Porcentaje punta captadora:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Porcentaje punta captadora:" type="number" class="form-control" [(ngModel)]="PR.captor_person_commission"/></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Porcentaje enlace:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Porcentaje enlace" type="number" class="form-control" [(ngModel)]="PR.link_person_commission"/></div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Punta vendedora:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="PR.sales_person_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="salesPersonOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" (click)="salesPersonLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Franquicia (Royalty):</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="PR.royalty" [options]="royalties"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5><strong>Porcentaje punta vendedora:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Porcentaje punta vendedora:" type="number" class="form-control" [(ngModel)]="PR.sales_person_commission"/></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Porcentaje franquicia (Royalty):</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Porcentaje franquicia (Royalty):" type="number" class="form-control" [(ngModel)]="PR.royalty_commission"/></div>
        </div>
    </div>


        <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Requisitos previos a la venta (entregado al Abogado)</div>
        <div class="panel-body row">

            <div class="col-xs-12 col-md-3"><h5><strong>Link de documentos:</strong></h5></div>
             <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Link de documentos" type="text" class="form-control" [(ngModel)]="PR.document_link" #link/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>
            <div class="col-xs-12 col-md-3"><h5><strong>Nombre del abogado:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Nombre del abogado" type="text" class="form-control" [(ngModel)]="PR.lawyer_name"/></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Requisitos entregados al abogado</strong></h5></div>
            <p-multiSelect class="col-xs-12 col-md-3" [(ngModel)]="PR.lawyer_requirements" [options]="lawyer_requirements"></p-multiSelect>

            <div class="col-xs-12 col-md-3"><h5><strong>Domicilio de facturación:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Domicilio de facturación" type="text" class="form-control" [(ngModel)]="PR.sign_address"/></div>
        </div>
    </div>



    <div class="panel panel-default col-xs-12" *ngIf="PR.id">
        <div class="panel-heading">Información del sistema</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Código de Registro:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Código" type="text" class="form-control" disabled="disabled" [(ngModel)]="PR.code" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Fecha Creación:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Fecha Creación" type="text" class="form-control" disabled="disabled" [(ngModel)]="PR.created_at" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Fecha Actualización:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Fecha Actualización" type="text" class="form-control" disabled="disabled" [(ngModel)]="PR.updated_at" /></div>
        </div>
    </div>
    <!-- end PR form -->