
<style>
    .login-page{
        background: url('http://skygroup.com.ve/eventos/templates/aphex/images/backgrounds/bkg-s4.jpg');
    }
</style>
<div class="container">
    <main id="content" class="widget-login-container" role="main">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
                <h5 class="widget-login-logo animated fadeInUp">
                    <img src="http://skygroup.com.ve/eventos/templates/aphex/images/backgrounds/sym-lg-dk1.png" >
                </h5>
                <section class="widget widget-login animated fadeInUp">
                    <header>
                        <h5>-Iniciar sesión-</h5>
                    </header>
                    <div class="widget-body">
                        <form class="login-form mt-lg" (ngSubmit)="login()">
                            <div role="alert" *ngIf="auth_error" class="alert alert-danger">
                                <b>Whoops!</b> Sus credenciales no coinciden con nuestros registros
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
                            </div>
                            <div class="clearfix">
                                <div class="btn-toolbar pull-xs-right m-t-1">                                                              
                                    <button type="submit" class="btn btn-primary btn-sm text-white" [disabled]="processing">
                                        Login
                                        <span *ngIf="processing" style="margin-left:10px"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        2017 &copy; NegociosElectronicos.biz. Todos los derechos reservados.
    </footer>
</div>