@import "variables";
@import "mixins";

@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "../../../node_modules/glyphicons-halflings/scss/glyphicons-halflings";

@import "../../../node_modules/pace/themes/pace-theme-flash";
@import "../../../node_modules/animate.css/animate";
@import "../../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox";

@import "bootstrap-override";
@import "libs-override";

//


//end custom libs

//everything below this line is required for essential styling
@import "font";
@import "general";
@import "global-transitions";
@import "base";
@import "utils";

$series-a: #1F497D;
$accent: #1F497D;

@import "../../../node_modules/primeng/resources/primeng.min";
@import "../../../node_modules/primeng/resources/themes/bootstrap/theme";
@import "~@progress/kendo-theme-default/scss/all";



#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    margin-left: -30px;
    background: #eee;
}

#gridContainer{
    max-height: 600px;
    width: 100%;
}

.dx-menu-base{
    font-family: inherit!important;
}

.api-errors {
    font-size: 13px;
    text-align: left;
}

.form-resource h5 {
    font-size: 16px;
}

.form-resource .col-xs-12  {
    margin: 5px 0;
}

.ui-dropdown, .ui-multiselect {
    width: 100%!important;
}
.widget-login-container {
    padding-top: 5%!important;
}

#availabilityChecker .ui-dialog {
    max-width: 500px;
}

.required-field:after{
    content: ' * ';
    color: red;
    font-weight: bold;
}

.sidebar a:hover{
    color:#fff!important;
}

.pace-progress{
    height: 3.5px!important;
}

.ui-calendar, .ui-calendar input{
    width: 100%!important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
    border-color: #ddd;
    padding: 0px!important;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: bold;
    font-size: 17px;
}

.panel-body {
    padding: 15px;
}


.input-group-addon, .input-group-btn, .input-group .form-control{
    display: initial!important;
}

.box-centered{
    display: table;
    margin: auto;
}

.form-resource .panel.col-xs-12{
    min-width: 100%!important;
}

.k-list .k-item.k-state-selected, .k-list-container .k-button:active, .k-list-container .k-button.k-state-active, .k-spreadsheet-popup .k-button:active, .k-spreadsheet-popup .k-button.k-state-active, .k-spreadsheet-popup .k-button.k-state-selected, .k-menu-group .k-item.k-state-active, .k-menu-group .k-item.k-state-selected, .k-menu.k-context-menu .k-item.k-state-active, .k-menu.k-context-menu .k-item.k-state-selected, .k-state-selected{
    background-color: $brand-primary!important;
}

@media(max-width:600px){
    .record-counter{
        display: none!important;
    }
}

