<p-dialog title="Seleccione un registro" [(visible)]="current_lookup_enable" [responsive]="true" (resizable)="false" (onBeforeHide)="turnOffLookUp()">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Filtro global" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <p-dataTable [value]="current_lookup_data" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt [responsive]="true"
        [stacked]="stacked" selectionMode="single" [(selection)]="current_lookup_selected" (onRowSelect)="current_lookup_callback($event)">
            <p-column *ngFor="let field of current_lookup_fields" field="{{field.name}}" header="{{field.label}}" filter="true" filterMatchMode="contains" filterPlaceholder="Buscar" [sortable]="true"></p-column>
        </p-dataTable>
</p-dialog>

<!-- product form --> 
   <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Información sobre el inmueble</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Nombre:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Nombre" type="text" class="form-control" [(ngModel)]="product.name" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Código:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Código" type="text" class="form-control" [(ngModel)]="product.code" /></div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Oficina comercial:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="product.commercial_office_id" [options]="commercial_offices"></p-dropdown>


            <div class="col-xs-12 col-md-3"><h5><strong>Categoría:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="product.category" [options]="categories"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Propietario:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="product.owner_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="ownerOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="onwerLookUp()"  type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Punta Captadora:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="product.captor_person_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="captorPersonOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="captorPersonLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Punta Vendedora:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="product.sales_person_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="salesPersonOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="salesPersonLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Reasignado a:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="product.assigned_name">
                <span class="input-group-btn">
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="assignedOnClear()" type="button"><span class="fa fa-times"></span></button>
                    <button class="btn btn-default" [class.disabled]="user.level!=='administrator'" (click)="assignedLookUp()" type="button"><span class="fa fa-address-book"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>País:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="product.country" [options]="countries"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5><strong>Estado:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Estado" type="text" class="form-control" [(ngModel)]="product.state" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Ciudad:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Ciudad" type="text" class="form-control" [(ngModel)]="product.city" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Dirección:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Dirección" type="text" class="form-control" [(ngModel)]="product.address" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Zonificación:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Zona" type="text" class="form-control" [(ngModel)]="product.zone" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Urbanización</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Urbanización" type="text" class="form-control" [(ngModel)]="product.urbanization" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Nº. inmueble:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Nº. inmueble" type="text" class="form-control" [(ngModel)]="product.property_number" /></div>
        </div>
   </div>

   <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Información general</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Area/Const. m2:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Area/Const. m2" type="number" class="form-control" [(ngModel)]="product.area" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Num de plantas:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Num de plantas" type="number" class="form-control" [(ngModel)]="product.house_floors" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Terreno m2:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Terreno m2" type="number" class="form-control" [(ngModel)]="product.ground" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Uso:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Uso" type="text" class="form-control" [(ngModel)]="product.usage"/></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Año de construccion:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Año de construccion" type="number" class="form-control" [(ngModel)]="product.construction_year" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Habitaciones:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Habitaciones" type="number" class="form-control" [(ngModel)]="product.bedrooms" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Puestos Est:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Puestos Est" type="number" class="form-control" [(ngModel)]="product.parking_places" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Num de plantas:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Num pisos del edificio" type="text" class="form-control" [(ngModel)]="product.house_floors" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Num pisos del edificio:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Num pisos del edificio" type="number" class="form-control" [(ngModel)]="product.apartment_floors" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Baño privado</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="product.private_bathroom" [options]="yes_no_options"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5><strong>Ambientes</strong></h5></div>
            <p-multiSelect class="col-xs-12 col-md-3" [(ngModel)]="product.environments" [options]="environments"></p-multiSelect>

            <div class="col-xs-12 col-md-3"><h5><strong>Baños Princ:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Baños Princ" type="number" class="form-control" [(ngModel)]="product.bathrooms" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Ambientes del conjunto/edificio</strong></h5></div>
            <p-multiSelect class="col-xs-12 col-md-3" [(ngModel)]="product.building_environments" [options]="building_environments"></p-multiSelect>

            <div class="col-xs-12 col-md-3"><h5><strong>N. casas del conjunto:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="N. casas del conjunto" type="number" class="form-control" [(ngModel)]="product.apartment_floors" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Cubiculos u oficinas:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Cubiculos u oficinas" type="text" class="form-control" [(ngModel)]="product.offices" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Comodidades</strong></h5></div>
            <p-multiSelect class="col-xs-12 col-md-3" [(ngModel)]="product.facilities" [options]="facilities"></p-multiSelect>

            <div class="col-xs-12 col-md-3"><h5><strong>Oficina/apto por piso:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Oficina/apto por piso" type="number" class="form-control" [(ngModel)]="product.places_per_floor" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Porcentaje de construccion:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Porcentaje de construccion" type="number" class="form-control" [(ngModel)]="product.building_percentage" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Condominio-Aliuota:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Condominio-Aliuota" type="number" class="form-control" [(ngModel)]="product.condominium" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Maletero:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="product.trunk" [options]="yes_no_options"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5><strong>Servicios:</strong></h5></div>
            <p-multiSelect class="col-xs-12 col-md-3" [(ngModel)]="product.services" [options]="services"></p-multiSelect>

            <div class="col-xs-12 col-md-3"><h5 class="required-field"><strong>Precio en Bs:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Precio en Bs" type="number" class="form-control" [(ngModel)]="product.bsf_price" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Precio por M2:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Precio por M2" type="number" class="form-control" [(ngModel)]="product.price_per_meter" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Referencia:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Referencia" type="number" class="form-control" [(ngModel)]="product.usd_price" /></div>
        </div>
   </div>

   <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Detalles de áreas</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Tipo de oferta:</strong></h5></div>
            <p-multiSelect class="col-xs-12 col-md-3" [(ngModel)]="product.offer_type" [options]="offer_type"></p-multiSelect>

            <div class="col-xs-12 col-md-3"><h5><strong>Gravamenes por liberar:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Gravamenes por liberar" type="text" class="form-control" [(ngModel)]="product.charges_to_be_released" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Canon de arrendamiento sugerido:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Canon de arrendamiento sugerido:" type="text" class="form-control" [(ngModel)]="product.suggested_lease" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Deposito:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Deposito" type="text" class="form-control" [(ngModel)]="product.deposit" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Fecha de adquisición:</strong></h5></div>
            <p-calendar class="col-xs-12 col-md-3" [(ngModel)]="product.acquisition_date" dataType="string" dateFormat="yy-mm-dd" disable="disabled"></p-calendar>

            <div class="col-xs-12 col-md-3"><h5><strong>Valor de la adquisición:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Valor de la adquisición" type="number" class="form-control" [(ngModel)]="product.acquisition_value" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Exclusividad:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="product.exclusivity" [options]="yes_no_options"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5><strong>Prorroga automatica del contrator:</strong></h5></div>
            <p-dropdown class="col-xs-12 col-md-3" [(ngModel)]="product.automatic_extension" [options]="yes_no_options"></p-dropdown>

            <div class="col-xs-12 col-md-3"><h5><strong>Detalles adiconales:</strong></h5></div>
            <p-multiSelect class="col-xs-12 col-md-3" [(ngModel)]="product.additional_details" [options]="additional_details"></p-multiSelect>

            <div class="col-xs-12 col-md-3"><h5><strong>Financiamiento (%):</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Financiamiento (%)" type="number" class="form-control" [(ngModel)]="product.financing" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Observaciones:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><textarea class="form-control" [(ngModel)]="product.observations"></textarea></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Descripción:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><textarea class="form-control" [(ngModel)]="product.description"></textarea></div>

        </div>
   </div>

    <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Observaciones generales y Link</div>
        <div class="panel-body row">

            
            <div class="col-xs-12 col-md-3"><h5><strong>Link Web Sky:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Link en Facebook" type="text" class="form-control" [(ngModel)]="product.links['Link en Facebook']" #link2/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link2.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Link en Facebook:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Link en Facebook" type="text" class="form-control" [(ngModel)]="product.links['Link Web Sky']" #link1/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link1.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>
            
            <div class="col-xs-12 col-md-3"><h5><strong>Instagram:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Link en Instagram" type="text" class="form-control" [(ngModel)]="product.links['Instagram']" #link1/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link1.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Link TuInmueble.com:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Link TuInmueble.com" type="text" class="form-control" [(ngModel)]="product.links['Link TuInmueble.com']" #link14/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link14.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Link Conlallave.com:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Link Conlallave.com" type="text" class="form-control" [(ngModel)]="product.links['Link Conlallave.com']" #link3/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link3.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>
            
            <div class="col-xs-12 col-md-3"><h5><strong>Link OLX:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Link OLX" type="text" class="form-control" [(ngModel)]="product.links['Link OLX']" #link17/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link17.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Link Locanto:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Link Locanto" type="text" class="form-control" [(ngModel)]="product.links['Link Locanto']" #link22/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link22.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Link Babanuncios.com.ve:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Link Babanuncios.com.ve" type="text" class="form-control" [(ngModel)]="product.links['Link Babanuncios.com.ve']" #link6/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link6.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>
            
            <div class="col-xs-12 col-md-3"><h5><strong>www.Inmobiliaria.com:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="www.Inmobiliaria.com" type="text" class="form-control" [(ngModel)]="product.links['www.Inmobiliaria.com']" #link10/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link10.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Link de TuInmueble (Franquiciado):</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Link de TuInmueble (Franquiciado)" type="text" class="form-control" [(ngModel)]="product.links['Link de TuInmueble (Franquiciado)']" #link15/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link15.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Link Conlallave (Franquiciado):</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Link Conlallave (Franquiciado)" type="text" class="form-control" [(ngModel)]="product.links['Link Conlallave (Franquiciado)']" #link16/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link16.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>ID en TUinmuble.com:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="ID en TUinmuble.com" type="text" class="form-control" [(ngModel)]="product.links['ID en TUinmuble.com']" #link13/></div>
           
            <div class="col-xs-12 col-md-3"><h5><strong>ID Conlallave.com:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="ID Conlallave.com" type="text" class="form-control" [(ngModel)]="product.links['ID Conlallave.com']" #link4/></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Link Opcional 1:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Opcional 1" type="text" class="form-control" [(ngModel)]="product.links['Opcional 1']" #link16/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link17.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>

            <div class="col-xs-12 col-md-3"><h5><strong>Link Opcional 2:</strong></h5></div>
            <div class="col-xs-12 col-md-3 input-group">
                <input placeholder="Opcional 2" type="text" class="form-control" [(ngModel)]="product.links['Opcional 2']" #link16/>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="openLink(link18.value)" type="button"><span class="fa fa-external-link"></span></button>
                </span>
            </div>

        </div>
    </div>

   <div class="panel panel-default col-xs-12">
        <div class="panel-heading">Detalles de áreas</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Terraza cubierta:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Terraza cubierta" type="number" class="form-control" [(ngModel)]="product.covered_terrace" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Terraza descubierta:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Terraza descubierta" type="number" class="form-control" [(ngModel)]="product.uncovered_terrace" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Area descubierta/destechada:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Area descubierta/destechada" type="number" class="form-control" [(ngModel)]="product.uncovered_area" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Area jardin:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Area jardin" type="number" class="form-control" [(ngModel)]="product.garden_area" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Por construir:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Por construir" type="number" class="form-control" [(ngModel)]="product.under_construction" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Area cubierta/techada:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Area cubierta/techada" type="number" class="form-control" [(ngModel)]="product.covered_area" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Area total:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Area total" type="number" class="form-control" [(ngModel)]="product.total_area" /></div>
        </div>
   </div>

    <div class="panel panel-default col-xs-12" *ngIf="product.id">
        <div class="panel-heading">Información del sistema</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-3"><h5><strong>Fecha Creación:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Fecha Creación" type="text" class="form-control" disabled="disabled" [(ngModel)]="product.created_at" /></div>

            <div class="col-xs-12 col-md-3"><h5><strong>Fecha Actualización:</strong></h5></div>
            <div class="col-xs-12 col-md-3"><input placeholder="Fecha Actualización" type="text" class="form-control" disabled="disabled" [(ngModel)]="product.updated_at" /></div>
        </div>
    </div>
    <!-- end product form -->
