<div class="js-sidebar-content">
    <header class="logo hidden-sm-down" style="height:auto!important;">
        <a href="index.html"><img src="http://skygroup.com.ve/eventos/templates/aphex/images/backgrounds/sym-lg-dk1.png" style="width: 120px;"></a>
    </header>

    <ul class="sidebar-nav">
        <li>
            <a [routerLink]=" ['dashboard'] ">
                <span class="icon">
            <i class="fa fa-child"></i>
        </span> Dashboard
            </a>
        </li>


        <li *ngIf="user.is_admin">
            <a class="collapsed" data-target="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon">
            <i class="fa fa-users" aria-hidden="true"></i>
            </span> Usuarios
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-ui" class="collapse">
                <li>
                    <a [routerLink]="['users/create']">Añadir Usuario</a>
                </li>
                <li>
                    <a [routerLink]="['users']">Usuarios</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon">
                    <i class="fa fa-address-book-o" aria-hidden="true"></i>
                </span> Contactos
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-forms" class="collapse">
                <li>
                    <a [routerLink]="['contacts/create']">Añadir Contacto </a>
                </li>
                <li>
                    <a [routerLink]="['contacts']">Contactos</a>
                </li>
                <li>
                    <a [routerLink]="['contacts']" [queryParams]="{ filter: 'team_filter' }">Equipo Skygroup</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-maps" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon">
                    <i class="fa fa-cubes"></i>
                </span> Productos
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-maps" class="collapse">
                <li>
                    <a [routerLink]="['products/create']">Crear Producto</a>
                </li>
                <li>
                    <a [routerLink]="['products']">Productos</a>
                </li>
                <li>
                    <a [routerLink]="['products']" [queryParams]="{ filter: 'international_market' }">Mercado Internacional</a>
                </li>
                <li>
                    <a [routerLink]="['products']" [queryParams]="{ filter: 'national_market' }"> Mercado Nacional</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="collapsed" data-target="#sidebar-levels" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span> Actividades
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-levels" class="collapse">
                <li>
                    <a [routerLink]="['activity/create']">Agregar actividad</a>
                </li>
                <li>
                    <a [routerLink]="['activity']">Todas las actividades</a>
                </li>
                <li>
                    <a [routerLink]="['activity']" [queryParams]="{ filter: 'toDo' }">Proximas actividades</a>
                </li>
            </ul>
        </li>
        <li *ngIf="user.is_admin" >
            <a class="collapsed" data-target="#sidebar-extra" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon">
                    <i class="fa fa-building"></i>
                </span> Venta / Alquiler
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-extra" class="collapse">
                <li>
                    <a [routerLink]="['properties_registration/create']">Crear Registro</a>
                </li>
                <li>
                    <a [routerLink]="['properties_registration']" >Todos los Registros</a>
                </li>
            </ul>
        </li>
        <li>
          <a href="javascript:void( window.open( 'http://negocioselectronicos.biz/atencion-al-cliente/soporte-tecnico-nepuntobiz', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) )">
            <span class="icon">
                <i class="fa fa-users" ></i>
            </span> Soporte Técnico
          </a>
        </li>
        <li>
            <a (click)="logOut()">
                <span class="icon">
                    <i class="fa fa-sign-out"></i>
                </span> Salir
            </a>
        </li>
    </ul>
</div>
