<h1 class="page-title">Dashboard</h1>

<div class="row">
    <div class="col-md-12">
        <section widget class="widget">
            <header *ngIf="user.is_agent">
                <h2 style="text-align: center;"> Sky Group App </h2>
            </header>
            <br>
            <div class="row col-xs-12" *ngIf="!user.is_agent">
                <div class="panel panel-default col-xs-12 col-xs-12 col-md-6" style="margin: auto; display: table;" >
                    <div class="panel-heading">Gráfica de actividades</div>
                    <div class="panel-body">
                        <kendo-chart [categoryAxis]="{ categories: ['Mes anterior', 'Mes actual'] }">
                            <kendo-chart-series>
                                <kendo-chart-series-item [data]="visits_graph_data"></kendo-chart-series-item>
                            </kendo-chart-series>
                        </kendo-chart>
                    </div>
                </div>
                <div class="panel panel-default col-xs-12 col-xs-12 col-md-6" style="margin: auto; display: table;">
                    <div class="panel-heading">Gráfica de captaciones</div>
                    <div class="panel-body">
                        <kendo-chart [categoryAxis]="{ categories: product_graph_categories }">
                            <kendo-chart-series>
                                <kendo-chart-series-item type="line" [data]="products_graph_data"></kendo-chart-series-item>
                            </kendo-chart-series>
                        </kendo-chart>
                    </div>
                </div>
                <div class="col-xs-12"><br><br></div>
                <div class="panel panel-default col-xs-12 col-xs-12 col-md-11" style="margin: auto; display: block;">
                    <div class="panel-heading">Últimas captaciones</div>
                    <div class="panel-body" style="max-height: 400px; overflow: scroll; overflow-x: hidden;">
                        <p-dataTable [value]="lastest_products" [rows]="20" [responsive]="true"
                        [stacked]="stacked" selectionMode="single" [(selection)]="selected_product" (onRowSelect)="viewProduct($event)">
                            <p-column field="name" header="Nombre" [sortable]="true"></p-column>
                            <p-column field="code" header="Código" [sortable]="true"></p-column>
                            <p-column field="offer_type" header="Tipo" [sortable]="true"></p-column>
                            <p-column field="category" header="Categoría" [sortable]="true"></p-column>
                            <p-column field="urbanization" header="Urbanización" [sortable]="true"></p-column>
                        </p-dataTable>
                    </div>
                </div>  
            </div>
        </section>
    </div>
</div>