<div class="container-fluid no-gutters">
    <!-- .navbar-header contains links seen on xs & sm screens -->
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item">
                <ng-template #sidebarToggleTooltip>
                    Turn on/off <br> sidebar <br>collapsing
                </ng-template>
                <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                <a (click)="toggleSidebar('static')" class="nav-link hidden-md-down" [tooltip]="sidebarToggleTooltip" placement="bottom">
                    <i class="fa fa-bars fa-lg"></i>
                </a>
                <!-- shown on xs & sm screen. collapses and expands navigation -->
                <a (click)="toggleSidebar('collapse')" class="hidden-lg-up nav-link" href="#" data-html="true" title="Show/hide<br>sidebar" data-placement="bottom">
                    <span class="rounded rounded-lg bg-gray text-white hidden-md-up"><i class="fa fa-bars fa-lg"></i></span>
                    <i class="fa fa-bars fa-lg hidden-sm-down"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- this part is hidden for xs screens -->
    <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav flex-row float-right" (click)="$event.preventDefault()">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle dropdown-toggle-notifications" id="notifications-dropdown-toggle" data-toggle="dropdown">
                    <span class="thumb-sm avatar float-left">
                        <img class="rounded-circle" src="assets/img/avatar.png">
                    </span>
                    &nbsp; {{user.name}} {{user.last_name}}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out"></i> &nbsp; Salir</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>